<p>Hello {{ user_username }},</p>

<p>
    Your user account at OpenStream has been successfully migrated to the new
    authentication system on {{ reset_datetime }}.
</p>

<p>
    For security reasons, we were unable to migrate your previous password.
    A new temporary password has therefore been generated for your account.
    You will be prompted to change it the first time you sign in.
</p>

<p>
    Your new temporary password is:<br />
    {{ temporary_password }}
</p>

<p>
    To update your password, please sign in at:<br />
    <a href="{{ os_url }}">{{ os_url }}</a>
</p>

<p>
    Best regards,<br />
    OpenStream Team
</p>