{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="slide-canvas slide-canvas--player-only w-100 h-100 position-relative">
    <div class="preview-container w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="preview-slide"></div>
    </div>
</div>
