{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="section-buttons">
    <button id="addSlideBtn" class="mt-2 btn btn-primary d-flex align-items-center">
        <span class="material-symbols-outlined">add</span>
        <span id="add-slide-btn">{% trans "Add Slide" %}</span>
    </button>
</div>

<hr class="hr-lg">

<div id="templateFilterPanel" class="template-filter-panel d-none"></div>
<div class="slide-selector flex-grow-1 overflow-y-auto bg-secondary-accent">
    <!-- Slide items will be generated dynamically via JS -->
</div>
