{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="{{class}} element-type-toolbar d-none w-100 justify-content-start align-items-center" {{#if id}} id="{{id}}" {{/if}}>
    <span class="element-toolbar-name d-inline-flex align-items-center justify-content-center ms-2 px-2 material-symbols-outlined">{% trans "{{title}}" %}</span>
    <div class="vr m-2"></div>
    {{> @partial-block}}
</div>