{{!-- SPDX-FileCopyrightText: 2026 Magenta ApS <https: //magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}

{{#*inline "section"}}
    <div class="mb-4">
        {{> @partial-block}}
    </div>
{{/inline}}

{{#> base/containers/html-container title="Clock Widget Configuration" }}
    <div>
        <div class="card-body">
            {{#> section}}
                <label for="ddb-opening-hours-kommune-select" class="form-label mb-1">{% trans "Choose a municipality:" %}</label>

                <select required id="ddb-opening-hours-kommune-select" class="form-select border-gray">
                    <!-- Options will be populated dynamically -->
                </select>
            {{/section}}

            {{#> section}}
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="form-label mb-0">{% trans "Choose libraries:" %}</span>
                    <div id="ddb-opening-hours-library-select-all-wrapper" class="d-flex justify-content-end align-items-center d-none">
                        <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" id="ddb-opening-hours-library-select-all" data-select-all="true" />
                            <label class="form-check-label small" for="ddb-opening-hours-library-select-all">{% trans "Select all" %}</label>
                        </div>
                    </div>
                </div>

                <div id="ddb-opening-hours-library-checkbox-container" class="border border-gray rounded px-3 pb-1 bg-light">
                    <div id="ddb-opening-hours-library-checkbox-placeholder" class="text-muted small">
                        {% trans "Select a municipality to load libraries." %}
                    </div>

                    <div id="ddb-opening-hours-library-checkbox-grid" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 mt-2">
                    </div>
                </div>

                <small class="text-muted d-block mt-2">{% trans "Select one or more libraries to include in the slide." %}</small>
            {{/section}}

            {{#> section}}
                <div id="ddb-opening-hoursautomatic-mode-fields">
                    <label for="ddb-opening-hours-nr-of-days-input" class="form-label mb-1">{% trans "Number of days:" %}</label>
                    <input required type="number" id="ddb-opening-hours-nr-of-days-input" class="form-control border-gray" min="0" placeholder='{% trans "Enter number of days" %}' />
                </div>
            {{/section}}
        </div>
    </div>
{{/ base/containers/html-container }}
