{{!-- SPDX-FileCopyrightText: 2026 Magenta ApS <https: //magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}

{{#> base/containers/html-container title="DDB Opening Hours Slide" script-src="/src/assets/slide-types/ddb-opening-hours/main.js" }}
    <div id="opening-hours-list">
    </div>
{{/base/containers/html-container }}
