{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="KMD Foreningsportalen Slide" script-src="/src/assets/slide-types/kmd-foreningsportalen/main.js" }}


    <div id="header">
        <div class="location-name-container">
            <span class="location-name" id="location-title">Loading...</span>
        </div>
        <div id="formatted-date-header" class="date-display"></div>
    </div>

    <div id="booking-body">
        <!-- Bookings will be inserted directly into this container -->
    </div>

{{/ base/containers/html-container }}