{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="News Ticker Widget" script-src="/src/assets/slide-types/newsticker/main.js" }}
    <div id="newsTickerBox">
        <div class="ticker-content">
            <p id="clock" aria-label="Current Time" style="display: none">
                00:00:00
            </p>
            <div id="news" aria-label="Latest News" style="display: none">
                <div class="news-items" id="news-items-1">Loading news...</div>
            </div>
            <p id="weather" aria-label="Current Weather" style="display: none">
                Loading weather…
            </p>
        </div>
    </div>

{{/ base/containers/html-container }}