{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div id="content-engine-player-container"
     class="content-engine-player-container min-vh-100 w-100 d-flex align-items-center justify-content-center bg-black">
    <div class="content-engine-player-stage w-100 h-100 d-flex align-items-center justify-content-center position-relative">
        {{> mainContent }}
    </div>
</div>