{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="d-flex h-100">
    {{#> base/sidebar/sidebar}}

    {{#if showGoBackButton}}
    {{> base/buttons/go-back-btn id="goBackBtn" href="/manage-content" title="Go Back" }}    
{{/if}}

    {{> base/text/page-title id=pageTitleId title=pageTitle }}
    {{> sidebarContent }}
{{/base/sidebar/sidebar}}
    <div class="flex-grow-1 bg-secondary-accent-light overflow-scroll" id="right-content-container">
        {{> mainContent }}
    </div>
</div>