{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/modal/modal id="addFontModal" ariaLabelledby="addFontModalLabel" }}
    {{#*inline "header"}}
        {{> base/modal/modal-title title="Add New Font" id="addFontModalLabel"}}
        {{> base/modal/modal-header-close}}
    {{/inline}}

    {{#*inline "body"}}
        <form id="add-font-form">
            <div class="mb-3">
                {{> base/form/label for="add-font-name" text="Font Name"}}
                {{> base/form/input type="text" id="add-font-name" required=true}}
                <div class="form-text">{% trans "Name of the font (e.g., 'Open Sans')" %}</div>
            </div>
            <div class="mb-3">
                {{> base/form/label for="add-font-file" text="Font File"}}
                <input class="form-control" type="file" id="add-font-file" accept=".woff2,.woff,.ttf,.otf" required />
                <div class="form-text">{% trans "Upload a font file supported by browsers (WOFF2, WOFF, TTF, OTF)." %}</div>
            </div>
        </form>
    {{/inline}}

    {{#*inline "footer"}}
        {{> base/modal/modal-footer-close btn-text="Cancel"}}
        {{> base/buttons/icon-button type='button' id='confirm-add-font-btn' variant='primary' icon='save' text='{% trans "Add Font" %}'}}
    {{/inline}}
{{/base/modal/modal}}