{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/modal/modal id="deleteFontModal" ariaLabelledby="deleteFontModalLabel" }}
    {{#*inline "header"}}
        {{> base/modal/modal-title title="Confirm Delete" id="deleteFontModalLabel"}}
        {{> base/modal/modal-header-close}}
    {{/inline}}

    {{#*inline "body"}}
        <p>{% trans "Are you sure you want to delete this font?" %}</p>
        <p id="delete-font-name" class="fw-bold"></p>
        <p>{% trans "This action cannot be undone." %}</p>
    {{/inline}}

    {{#*inline "footer"}}
        {{> base/modal/modal-footer-close btn-text="Cancel"}}
        {{> base/buttons/icon-button type='button' id='confirm-delete-font-btn' variant='danger' icon='delete' text='{% trans "Delete" %}'}}
    {{/inline}}
{{/base/modal/modal}}