# SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: AGPL-3.0-only
**/.env
**/.vscode
**/compose.override.yaml
dev-environment/minio/data/**
**/node_modules

.svelte-kit
