/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */

/* SPDX-License-Identifier: AGPL-3.0-only */
@import "../../scss/main";

/* Manage Tags and Categories Page Styles */

/* Table styling */
.table td {
  vertical-align: middle;
}

.table tbody tr:last-of-type {
  border-color: transparent;
}

.table .action-cell-td {
  min-width: 7rem;
}

.table-content-container {
  /* This is some weird magic flexbox css, where overflow-scroll doesnt work properly on elements sized up with flex: 1 ,
  for some reason it works if ANY height is set for the element together with the flex-grow: 1 */
  height: 10px;
}
