{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div id="sidebar" class="p-3 overflow-scroll">
    {{> @partial-block }} 
</div>