{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}

<nav class="navbar navbar-expand-xl pt-1" id="navigation">
  <div class="container-fluid bg-secondary w-100 d-flex align-items-center shadow">
    <!-- Burger menu (for small screens) + Logo wrapper -->
    <button class="navbar-toggler me-2 border-0 focus-ring" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined text-white" id="open-menu-icon">menu</span>
      <span class="material-symbols-outlined text-white d-none" id="close-menu-icon">close</span>
    </button>
    <a href="/select-sub-org" class="me-4 order-xl-0 focus-ring" id="logo-link"><img src="/openstream_logo_light.svg" class="rounded openstream-logo" alt="Openstream Logo" /></a>
    <!-- User action group -->
    <div class="d-flex align-items-center ms-auto order-xl-2">
        {{> user-actions }}
    </div>
    <!-- Collapsible nav links -->
    <div class="collapse navbar-collapse order-xl-1 pt-2 pt-xl-0" id="mainNav">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        {{> nav-links }}
      </ul>
    </div>
  </div>
</nav>