{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<a id="suborg-name-display"
  href="/select-sub-org"
  class="d-flex justify-content-evenly btn btn-sm me-3 d-flex align-items-center text-white border border-white rounded">
  <span class="material-symbols-outlined pe-1">arrow_back</span><span class="material-symbols-outlined text-white fs-normal">business</span>&nbsp;
  <span id="suborg-name" class="text-white fs-small"></span>
</a>
