/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */
/* SPDX-License-Identifier: AGPL-3.0-only */

@use "../../scss/main.scss";

body {
    background-color: #f6f5f0;
}

.opening-hour-date {
    font-weight: 600;
}
#opening-hours-list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.opening-hour-divider {
    height: 2px;
    width: 100%;
    background-color: main.$black;
}

.opening-hour-container:nth-child(2):not(:only-child) {
    background-color: #dbdbdb;
}

.opening-hour-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variant-numeric: tabular-nums;
    padding: 2px 15px;
}

.opening-hour-title-wrapper {
    padding-left: 15px;
}

.opening-hour-name {
    line-height: 1.2;
}
