@use "../../scss/colors.scss";

.opening-hour-date {
    font-size: 20px;
}

#opening-hours-list .opening-hour-container:nth-child(2):not(:only-child) {
    background-color: colors.$dark-gray;
}

.opening-hour-container {
    background-color: wheat;
    font-size: 18px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
