{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<form id="createSlideshowForm">
    {{#> base/modal/modal id="createSlideshowModal" size="modal-xl" }}
        {{#*inline "header"}}
            {{> base/modal/modal-title title="Create new content"}}
            {{> base/modal/modal-header-close}}
    {{/inline}}
        
        {{#*inline "body"}}
            <!-- NAME -->
            <div class="mb-3">
                {{> base/form/label for="createSlideshowName" text="Content title"}}
                {{> base/form/input type="text" id="createSlideshowName" placeholder="Enter slideshow name..." required=true}}
            </div>
            <!-- MODE -->
            <div class="mb-3">
                {{> base/form/label for="createSlideshowMode" text="Mode"}}
                <select class="form-select" id="createSlideshowMode" required>
                    <option value="slideshow">{% trans "Slideshow" %}</option>
                    <option value="interactive">{% trans "Interactive" %}</option>
                </select>
                <div id="mode-explanation-wrapper" class="alert alert-info my-2 d-none">
                    <span class="fw-bold">{% trans "Interactive Mode" %}</span>
                    {% trans "allows the content to be used with interactive devices (e.g. touch screens). It becomes possible to switch between slides by clicking on the elements." %}
                    <hr class="p-0 my-1">
                    <span class="fw-bold">{% trans "Note:" %}</span>
                    {% trans "This also has the effect of removing automatic changing between slides and makes the content unable to be part of a playlist" %}
                    <hr class="p-0 my-1">
                    {% trans "Only use this mode if you want the content to be used with interactive devices." %}
                    <br>
                    <span class="fw-bold">{% trans "You are unable to change the selected mode after creation." %}</span>
                </div>
            </div>
            <!-- ASPECT RATIO -->
            <div class="mb-3">
                {{> base/form/label for="createSlideshowAspectRatio" text="Aspect Ratio"}}
                <div class="d-flex align-items-end gap-3 p-3 rounded-2 border border-gray bg-lightest-gray">
                    <!-- Landscape section -->
                    <div class="d-flex justify-content-start align-items-end flex-wrap gap-3 js-aspect-ratio-options" data-orientation="landscape">
                        <!-- Aspect ratio options inserted dynamically -->
                    </div>
                    <!-- Portrait section -->
                    <div class="d-flex justify-content-start align-items-end flex-wrap gap-3 js-aspect-ratio-options" data-orientation="portrait">
                        <!-- Aspect ratio options inserted dynamically -->
                    </div>
                    <!-- Square section -->
                    <div class="d-flex justify-content-start align-items-end flex-wrap gap-3 js-aspect-ratio-options" data-orientation="square">
                        <!-- Aspect ratio options inserted dynamically -->
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between gap-4">
                <!-- CATEGORY -->
                <div class="mb-3 w-100">
                    {{> base/form/label for="createSlideshowCategory" text="Category"}}
                    <select class="form-select" id="createSlideshowCategory">
                        <!-- We'll programmatically add (None) and categories here -->
                    </select>
                </div>
                <!-- TAGS -->
                <div class="mb-3 w-100">
                    {{> base/form/multi-select-dropdown dropdownBtnId="tagsDropdownBtn" dropdownMenuId="tagsDropdownMenu" selectAllCheckboxId="selectAllTagsCheckbox" labelText="Tags"}}
                </div>
            </div>
    {{/inline}}
        
        {{#*inline "footer"}}
            {{> base/modal/modal-footer-close btn-text="Cancel"}}
            <button type="submit" class="btn btn-primary">
                <span class="material-symbols-outlined me-1">add</span>
                {% trans "Create Content" %}
            </button>
    {{/inline}}
{{/base/modal/modal}}
</form>
