{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="Media Management" script-src="/src/assets/pages/manage-media-files/main.js" }}
    {{> base/navbar/navbar_global_settings }}
    <!-- Main Container -->
    {{#> base/containers/main-container }}
        {{#> base/containers/sidebar-and-content-container pageTitle="Media Management" }}
            {{#*inline "sidebarContent"}}
                <p>{% trans "Global media files are files that are available throughout the whole organization and in templates. Here files such as logos will be uploaded." %}</p>
                <hr>
                {{> base/buttons/icon-button id="uploadNewMediaBtn" class="w-100 justify-content-center" type="button" variant="primary" icon="add" text="{% trans 'Upload New Media' %}" }}
                <hr>
                <!-- Search Field -->
                <div class="position-relative">
                    <label for="titleSearchInput" class="search-icon" aria-label="Search for media file">
                        <i class="material-symbols-outlined text-darkest-gray">search</i>
                    </label>
                    {{> base/form/input type="text" id="titleSearchInput" placeholder="Search for media file" extraClass="ps-5"}}
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <p class="m-0">{% trans "Results per site:" %}</p>
                    {{#> base/form/dropdown id="resultsPerPageDropdown" class="page-size-dropdown form-select-sm" }}
                        {{> base/form/dropdown-option value="10" text="10" }}
                        {{> base/form/dropdown-option value="15" text="15" }}
                        {{> base/form/dropdown-option value="20" text="20" }}
                        {{> base/form/dropdown-option value="25" text="25" }}
                        {{> base/form/dropdown-option value="30" text="30" }}
                        {{> base/form/dropdown-option value="35" text="35" }}
                    {{/base/form/dropdown}}
                </div>
                <!-- Background Pattern Toggle Group -->
                <div class="control-group d-flex align-items-center justify-content-between mt-3">
                    <p class="control-label m-0">{% trans 'Background:' %}</p>
                    <div class="btn-group btn-group-sm d-flex gap-2" role="group" id="backgroundPatternToggle">
                        <input type="radio"
                            class="btn-check pattern-light-btn"
                            name="backgroundPattern"
                            id="lightPattern"
                            autocomplete="off"
                            checked>
                        <label class="btn btn-outline-secondary" for="lightPattern">
                            <span class="material-symbols-outlined">light_mode</span>
                        </label>
                        <input type="radio"
                            class="btn-check pattern-dark-btn"
                            name="backgroundPattern"
                            id="darkPattern"
                            autocomplete="off">
                        <label class="btn btn-outline-secondary" for="darkPattern">
                            <span class="material-symbols-outlined">dark_mode</span>
                        </label>
                    </div>
                </div>
                <hr>
                <h4>{% trans "Filters" %}</h4>
                <div class="bg-white rounded p-2 mb-3">
                    <div id="extension-select-wrapper" class="filter-dropdown mb-1"></div>
                    <div id="extensions-active"></div>
                </div>
                <div class="bg-white rounded p-2 mb-3">
                    <div id="media-category-wrapper" class="filter-dropdown mb-1"></div>
                    <div id="categories-active"></div>
                </div>
                <div class="bg-white rounded p-2">
                    <div id="media-tags-wrapper" class="filter-dropdown mb-1"></div>
                    <div id="tags-active"></div>
                </div>
            {{/inline}}

            {{#*inline "mainContent"}}
                <div class="d-flex flex-column justify-content-between h-100 dotted-light-bg checkerboard-light">
                    <!-- Media Grid -->
                    <div id="mediaGrid" class="flex-grow-1 p-3"></div>
                    <!-- Pagination -->
                    <div id="media-pagination-wrapper" class="px-2 py-2 bg-white position-sticky bottom-0"></div>
                    </div>
                    <!-- Include the existing modals -->
                {{> base/content-engine/modals/media_submit_modal }}
                {{> base/content-engine/modals/media_preview_modal }}
            {{/inline}}
        {{/base/containers/sidebar-and-content-container}}
    {{/base/containers/main-container}}
{{/base/containers/html-container}}