{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <!-- HTML Wrapper -->
    {{#> base/containers/html-container title="Content Engine" script-src="/src/assets/pages/content-engine/main.js" }}

    <!-- Main Container -->
    <div class="h-100 w-100">
    {{#> base/containers/content-engine-player-container }}
    {{#*inline "mainContent"}}
    {{> base/content-engine/player-canvas }}
    {{/inline}}
    {{/base/containers/content-engine-player-container}}
    </div>  
    {{/base/containers/html-container}}