{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="Sign In Callback" script-src="/src/assets/pages/sign-in-callback/main.js"}}
    <div class="p-3">
        <span>Handling callback...</span>
    </div>
{{/base/containers/html-container}}