{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <!-- HTML Wrapper -->
    {{#> base/containers/html-container title="Content Engine" script-src="/src/assets/pages/test/main.js" }}

    <!-- Main Container -->
    <div class="h-100 w-100">
        <form id="form_test">
        
        {{> base/form/multi-select-dropdown dropdownBtnId="btntest1" dropdownMenuId="menutest1" selectAllCheckboxId="selectall1" labelText="Label text"}}

        {{> base/form/multi-select-dropdown dropdownBtnId="btntest2" dropdownMenuId="menutest2" selectAllCheckboxId="selectall2" labelText="Label text 2"}}

        <button type="submit">submit</button>
        </form>

        <div id="chipContainer">
            <!-- Chips will be added here -->
        </div>
    </div>  
    {{/base/containers/html-container}}

    {{!-- 
         {{> base/form/label for="multiSelectDropdownToggle" text="Label text"}}
        <div>
            <div class="btn border-gray bg-white w-100 p-2 text-start d-flex justify-content-between align-items-center"
                    type="button"
                    id="multiSelectDropdownToggle"
                    aria-expanded="false">
                <span class="selected-values-text">({% trans "Nothing selected" %})</span>
                <i class="material-symbols-outlined" id="arrowIcon">expand_more</i>
            </div>
            <div class="dropdown-menu px-2 py-3 w-100 hide" id="multiSelectDropdownMenu">
                <div class="dropdownCheckboxesContainer">
                    <!-- Checkboxes will be dynamically added here -->
                </div>
                <div class="d-flex justify-content-between mt-2 border-top py-2 px-2">
                    <p class="values-count mb-0 text-darker-gray">0 {% trans "selected" %}</p>
                    {{> base/form/checkbox id="selectAllValues" text="Select All"}}
                </div>
            </div>
        </div>
        <button type="submit">submit</button>
        </form>

        <div id="chipContainer">
            <!-- Chips will be added here -->
        </div>
    </div>  
    {{/base/containers/html-container}}