{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <!-- HTML Wrapper -->
    {{#> base/containers/html-container title="Content Engine" script-src="/src/assets/pages/test/main.js" }}

    <!-- Main Container -->
    <div class="h-100 w-100">
        <form id="form_test">
        
        {{> base/form/multi-select-dropdown dropdownBtnId="btntest1" dropdownMenuId="menutest1" selectAllCheckboxId="selectall1" labelText="Label text"}}

        {{> base/form/multi-select-dropdown dropdownBtnId="btntest2" dropdownMenuId="menutest2" selectAllCheckboxId="selectall2" labelText="Label text 2"}}

        <button type="submit">submit</button>
        </form>

        <div id="chipContainer">
            <!-- Chips will be added here -->
        </div>
    </div>  
    {{/base/containers/html-container}}