{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <!-- HTML Wrapper -->
    {{#> base/containers/html-container title="Content Engine" script-src="/src/assets/pages/test/main.js" }}

    <!-- Main Container -->
    <div class="h-100 w-100">
        <form id="form_test">
         {{> base/form/label for="multiSelectDropdownToggle" text="Label text"}}
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                    type="button"
                    id="multiSelectDropdownToggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="selected-values-text" id="multiSelectDropdownText">({% trans "Nothing selected" %})</span>
            </button>
            <div class="dropdown-menu p-3 w-100" id="multiSelectDropdownMenu">
                <div class="mb-2 border-bottom pb-2">
                    {{> base/form/checkbox id="selectAllValues" text="Select All" bold=true}}
                </div>
                <div id="dropdownCheckboxesContainer">
                    <!-- Tag checkboxes will be dynamically added here -->
                </div>
            </div>
        </div>
        <button type="submit">submit</button>
        </form>
    </div>  
    {{/base/containers/html-container}}