{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <!-- HTML Wrapper -->
    {{#> base/containers/html-container title="Content Engine" script-src="/src/assets/pages/test/main.js" }}

    <!-- Main Container -->
    <div class="h-100 w-100">
         {{> base/form/label for="multiSelectDropdownToggle" text="Label text"}}
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                    type="button"
                    id="multiSelectDropdownToggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="selected-values-text">({% trans "Nothing selected" %})</span>
                <span class="selected-values-count badge bg-primary rounded-pill ms-1" style="display: none">0</span>
            </button>
            <div class="dropdown-menu p-3 w-100" id="multiSelectDropdownMenu">
                <div class="mb-2 border-bottom pb-2">
                    {{> base/form/checkbox id="selectAllValues" text="Select All" bold=true}}
                </div>
                <div id="dropdownCheckboxesContainer">
                    <!-- Tag checkboxes will be dynamically added here -->
                    <div class="form-check mb-1">
                        <input type="checkbox" class="form-check-input tag-checkbox" id="createTag_1" value="1">
                        <label class="form-check-label ms-2" for="createTag_1">a tag</label>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    {{/base/containers/html-container}}