{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/modal/modal id="resolutionModal" ariaLabelledby="resolutionModalLabel" size="modal-xl" }}
    {{#*inline "header"}}
        {{> base/modal/modal-title title="Change Preview Aspect Ratio" id="resolutionModalLabel"}}
        {{> base/modal/modal-header-close}}
    {{/inline}}

    {{#*inline "body"}}
        <form id="resolutionForm">
            <!-- Landscape Options -->
            <div class="mb-4">
                <h4 class="mb-3">{% trans "Landscape" %}</h4>
             <div class="d-flex justify-content-evenly align-items-center flex-wrap gap-2 js-resolution-options" data-orientation="landscape"></div>
            </div>
            <hr class="mb-4">
            <!-- Portrait Options -->
          <div class="mb-4">
                <h4 class="mb-3">{% trans "Portrait" %}</h4>
             <div class="d-flex justify-content-evenly align-items-center flex-wrap gap-2 js-resolution-options" data-orientation="portrait"></div>
          </div>
          <hr class="mb-4">
          <!-- Square Options -->
          <div>
             <h4 class="mb-3">{% trans "Square" %}</h4>
             <div class="d-flex justify-content-evenly align-items-center flex-wrap gap-2 js-resolution-options" data-orientation="square"></div>
            </div>
        </form>
    {{/inline}}

    {{#*inline "footer"}}
        <div class="d-flex align-items-center justify-content-between w-100 h-100">
            {{> base/form/checkbox id="showGrid" text="Show Grid"}}
            {{> base/buttons/icon-button type="button" id="saveResolutionBtn" variant="primary" icon="save" text="Save"}}
        </div>
    {{/inline}}
{{/base/modal/modal}}
