{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https: //magenta.dk> --}}
    {{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
    <div class="modal fade" id="unifiedSlideModal" tabindex="-1" aria-labelledby="unifiedSlideModalLabel">
        <div class="modal-dialog" style="--bs-modal-width: 1380px;">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="unifiedSlideModalLabel">{% trans "Add Slide Menu" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label='{% trans "Close" %}'></button>
                </div>
                <div class="modal-body">
                    <!-- Template Selection Section -->

<h5 class="py-3"><strong>Select Template</strong></h5>
                    <div id="templateSlideSection" class="mb-0">
                        <div class="d-flex gap-3">
                            <!-- Filters -->
                            <div class="rounded gap-4 d-flex flex-column" id="filtersSidebar">
                                <!-- Category Filters -->
                                <div>
                                    <h6 class="secondary">{% trans "Filter by Category" %}</h6>
                                    <div id="category-filter">
                                        <!-- Sidebar checkboxes will be injected here via JS -->
                                    </div>
                                </div>
                                <!-- Tags Filters -->
                                <div>
                                    <h6 class="secondary">{% trans "Filter by Tags" %}</h6>
                                    <div id="tags-filter" class="d-flex flex-wrap gap-1" aria-label="Template tags filter">
                                        <!-- Sidebar tag checkboxes will be injected here via JS -->
                                    </div>
                                </div>
                                <!-- Aspect Ratio Filters -->
                                <div>
                                    <h6 class="secondary">{% trans "Filter by Aspect Ratio" %}</h6>
                                    <div id="aspect-ratio-filter" class="d-flex flex-column">
                                        <!-- Sidebar checkboxes will be injected here via JS -->
                                    </div>
                                </div>
                            </div>
                            <div class="vr bg-gray text-gray"></div>
                            <!-- Table -->
                            <div style="width: 44%; height: 440px;" class="ms-1 d-flex flex-column">
                                <p class="semibold my-0 border bg-secondary-accent-lighter border-secondary-accent-hover rounded mb-3 aspect-ratio-info" style="padding: 1rem 1.5rem">
                                    {% trans "Showing templates compatible with aspect ratio " %}
                                        <span id="aspect-ratio" style="vertical-align: unset;"></span>
                                </p>
                                <!-- Search Bar -->
                                <div class="mb-3 position-relative">
                                    <span class="material-symbols-outlined" style="position: absolute; left: 1rem; top: 50%; transform: translateY(-50%); pointer-events: none; color: var(--bs-secondary-color);">search</span>
                                    <input type="text" id="templateSearch" class="form-control ps-5"
                                        placeholder='{% trans "Search by name, category or tags" %}'>
                                </div>
                                <!-- Template List Table -->
                                <div id="template-list-table" class="table-responsive">
                                    <table class="table table-hover table-borderless" id="unifiedTemplateTable">
                                        <thead>
                                            <tr>
                                                <th role="button" data-sort="name">{% trans "Name" %}
                                                </th>
                                                <th role="button" data-sort="category">{% trans "Category" %}</th>
                                                <th role="button" data-sort="tags">{% trans "Tags" %}</th>
                                                <th role="button" data-sort="tags" class="aspect-ratio-th d-none">{%
                                                    trans "Size&nbsp;" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Rows will be added via JS -->
                                        </tbody>
                                    </table>
                                    <div id="no-templates-found-alert" class="alert alert-primary d-none">{% trans "No
                                        templates found" %}</div>
                                </div>
                            </div>
                            <!-- Preview -->
                            <div id="unifiedTemplatePreview"
                                class="bg-light border d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <hr class="bg-gray text-gray">
                        <div class="row">
                            <p style="background-color: var(--lightest-gray)" class="pt-2 pb-1"><strong>{% trans "Name and duration" %}</strong>
                            </p>
                            <div class="col-md-6">
                                <div>
                                    <label for="templateSlideName" class="form-label">{% trans "Slide Name" %}
                                    </label>
                                    <input type="text" class="form-control" id="templateSlideName"
                                        placeholder='{% trans "Enter slide name" %}'>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="templateSlideDuration" class="form-label">{% trans "Duration (seconds)"
                                        %}
                                    </label>
                                    <input type="number" class="form-control" id="templateSlideDuration" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <span class="material-symbols-outlined">cancel</span> {% trans "Cancel" %}
                    </button>
                    <button type="button" class="btn btn-primary" id="unifiedSaveSlideBtn">
                        <span class="material-symbols-outlined">add</span> {% trans "Add Slide" %}
                    </button>
                </div>
            </div>
        </div>
    </div>