{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/containers/element-type-toolbars-container class="image-toolbar" title="Image" }}
    {{> base/content-engine/element-type-toolbars/buttons/change-btn id="change-image" text='{% trans "Change" %}'}}
    <div class="vr m-2"></div>
    <!-- Horizontal Align Image Options -->
    <div class="d-flex align-items-center gap-2 mx-3">
        <span class="mx-2">{% trans "Horizontal Align" %}</span>
        {{> base/form/radio name="imageHAlign" id="image-ha-left" value="left" icon="arrow_back" autocomplete="off" ariaLabel="Image horizontal align left"}}
        {{> base/form/radio name="imageHAlign" id="image-ha-center" value="center" icon="filter_tilt_shift" autocomplete="off" ariaLabel="Image horizontal align center"}}
        {{> base/form/radio name="imageHAlign" id="image-ha-up" value="right" icon="arrow_forward" autocomplete="off" ariaLabel="Image horizontal align right"}}
    </div>
    <div class="vr m-2"></div>
    <!-- Vertical Align Image Options -->
    <div class="d-flex align-items-center gap-2 mx-3">
        <span class="ms-2">{% trans "Vertical Align" %}</span>
        {{> base/form/radio name="imageVAlign" id="image-va-top" value="top" icon="arrow_upward" autocomplete="off" ariaLabel="Image vertical align top"}}
        {{> base/form/radio name="imageVAlign" id="image-va-center" value="center" icon="filter_tilt_shift" autocomplete="off" ariaLabel="Image vertical align center"}}
        {{> base/form/radio name="imageVAlign" id="image-va-bottom" value="bottom" icon="arrow_downward" autocomplete="off" ariaLabel="Image vertical align bottom"}}
    </div>
    <div class="vr m-2"></div>
    <span class="ms-2">{% trans "Sizing" %}</span>
    <!-- Image Size Options -->
    <div class="d-flex align-items-center gap-2 rounded ms-3">
        {{> base/form/radio name="imageSize" id="image-size-scale" value="scaled" text='{% trans "Scale" %}' autocomplete="off" ariaLabel="Image size scaled"}}
        {{> base/form/radio name="imageSize" id="image-size-stretch" value="stretch" text='{% trans "Stretch" %}' autocomplete="off" ariaLabel="Image size stretch"}}
        {{> base/form/radio name="imageSize" id="image-size-original" value="original" text='{% trans "Original" %}' autocomplete="off" ariaLabel="Image size original"}}
    </div>
{{/base/content-engine/element-type-toolbars/containers/element-type-toolbars-container}}