{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/containers/element-type-toolbars-container id="list-toolbar" class="list-toolbar" title="List" }}
     <!-- Popover-based toolbar with clean sections -->
    <div class="d-flex align-items-center gap-2 w-100">
        <!-- Structure Control Button -->
        {{> base/content-engine/element-type-toolbars/buttons/option-btn id="list-structure-btn" icon="format_list_bulleted" tooltip="{% trans 'List Structure & Content' %}" text="Structure"}}
        <!-- Typography Control Button -->
        {{> base/content-engine/element-type-toolbars/buttons/option-btn id="list-typography-btn" icon="text_fields" tooltip="{% trans 'Typography & Fonts' %}" text="Typography"}}
    </div>
    <!-- Hidden form elements that will be moved into popovers -->
    <div style="display: none;">
        <!-- List type select -->
    {{#> base/form/dropdown id="list-type" name="listType" }}
            {{> base/form/dropdown-option value="disc" text="Bullet (•)" }}
            {{> base/form/dropdown-option value="circle" text="Circle (○)" }}
            {{> base/form/dropdown-option value="square" text="Square (■)" }}
            {{> base/form/dropdown-option value="decimal" text="Numbers (1, 2, 3)" }}
            {{> base/form/dropdown-option value="lower-alpha" text="Letters (a, b, c)" }}
            {{> base/form/dropdown-option value="upper-alpha" text="Letters (A, B, C)" }}
            {{> base/form/dropdown-option value="lower-roman" text="Roman (i, ii, iii)" }}
            {{> base/form/dropdown-option value="upper-roman" text="Roman (I, II, III)" }}
            {{> base/form/dropdown-option value="none" text="None" }}
    {{/base/form/dropdown}}
        <!-- List items textarea -->
        <textarea id="list-items"
                  rows="5"
                  placeholder="{% trans 'Enter one item per line' %}"></textarea>
        <!-- Font size select -->
    {{#> base/form/dropdown id="list-font-size" }}
            {{> base/form/dropdown-option value="0.8" text="0.8" }}
            {{> base/form/dropdown-option value="0.9" text="0.9" }}
            {{> base/form/dropdown-option value="1.0" text="1.0" }}
            {{> base/form/dropdown-option value="1.1" text="1.1" }}
            {{> base/form/dropdown-option value="1.2" text="1.2" }}
            {{> base/form/dropdown-option value="1.3" text="1.3" }}
            {{> base/form/dropdown-option value="1.4" text="1.4" }}
            {{> base/form/dropdown-option value="1.5" text="1.5" selected=true }}
            {{> base/form/dropdown-option value="1.6" text="1.6" }}
            {{> base/form/dropdown-option value="1.8" text="1.8" }}
            {{> base/form/dropdown-option value="2.0" text="2.0" }}
            {{> base/form/dropdown-option value="2.5" text="2.5" }}
            {{> base/form/dropdown-option value="3.0" text="3.0" }}
    {{/base/form/dropdown}}
        <!-- Font family select -->
    {{#> base/form/dropdown id="list-font-family" }}
            <!-- Options will be populated by JavaScript -->
    {{/base/form/dropdown}}
        <!-- Font color input -->
        {{> base/form/input type="color" id="list-font-color" value="#212529" }}
        <!-- Line height select -->
    {{#> base/form/dropdown id="list-line-height" }}
            {{> base/form/dropdown-option value="1.0" text="1.0" }}
            {{> base/form/dropdown-option value="1.2" text="1.2" }}
            {{> base/form/dropdown-option value="1.4" text="1.4" selected=true }}
            {{> base/form/dropdown-option value="1.6" text="1.6" }}
            {{> base/form/dropdown-option value="1.8" text="1.8" }}
            {{> base/form/dropdown-option value="2.0" text="2.0" }}
    {{/base/form/dropdown}}
        <!-- Item spacing select -->
    {{#> base/form/dropdown id="list-item-spacing" }}
            {{> base/form/dropdown-option value="0" text="0" }}
            {{> base/form/dropdown-option value="0.25" text="0.25" }}
            {{> base/form/dropdown-option value="0.5" text="0.5" selected=true }}
            {{> base/form/dropdown-option value="0.75" text="0.75" }}
            {{> base/form/dropdown-option value="1.0" text="1.0" }}
    {{/base/form/dropdown}}
    </div>
{{/base/content-engine/element-type-toolbars/containers/element-type-toolbars-container}}