{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/containers/element-type-toolbars-container class="video-toolbar" title="Video" }}
    {{> base/content-engine/element-type-toolbars/buttons/change-btn id="change-video-btn" text='Change'}}
    <div class="vr m-1"></div>
    <span class="ms-2">{% trans "Volume" %}</span>
    <div class="d-flex align-items-center gap-2 ms-3">
        {{> base/form/radio name="videoVolume" id="video-volume-up" value="false" icon="volume_up" autocomplete="off" ariaLabel="Volume up"}}
        {{> base/form/radio name="videoVolume" id="video-volume-off" value="true" icon="volume_off" autocomplete="off" ariaLabel="Volume off"}}
    </div>
    <div class="vr m-1"></div>
    <!-- Horizontal Align Video Options -->
    <div class="d-flex align-items-center gap-2 mx-3">
        <span class="mx-2">{% trans "Horizontal Align" %}</span>
        {{> base/form/radio name="videoHAlign" id="video-ha-left" value="left" icon="arrow_back" autocomplete="off" ariaLabel="Video horizontal align left"}}
        {{> base/form/radio name="videoHAlign" id="video-ha-center" value="center" icon="filter_tilt_shift" autocomplete="off" ariaLabel="Video horizontal align center"}}
        {{> base/form/radio name="videoHAlign" id="video-ha-right" value="right" icon="arrow_forward" autocomplete="off" ariaLabel="Video horizontal align right"}}
    </div>
    <div class="vr m-1"></div>
    <!-- Vertical Align Video Options -->
    <div class="d-flex align-items-center gap-2 mx-3">
        <span class="ms-2">{% trans "Vertical Align" %}</span>
        {{> base/form/radio name="videoVAlign" id="video-va-top" value="top" icon="arrow_upward" autocomplete="off" ariaLabel="Video vertical align top"}}
        {{> base/form/radio name="videoVAlign" id="video-va-center" value="center" icon="filter_tilt_shift" autocomplete="off" ariaLabel="Video vertical align center"}}
        {{> base/form/radio name="videoVAlign" id="video-va-bottom" value="bottom" icon="arrow_downward" autocomplete="off" ariaLabel="Video vertical align bottom"}}
    </div>
{{/base/content-engine/element-type-toolbars/containers/element-type-toolbars-container}}
