{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/containers/element-type-toolbars-container class="wysiwyg-toolbar" title="Textbox" }}
      <div class="mx-3 d-flex align-items-center">
        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Text mode">
            <input type="radio" class="btn-check" name="textModeToggle" id="simpleTextMode" value="simple" checked>
            <label class="btn btn-outline-secondary btn-sm" for="simpleTextMode" title="{% trans 'Simple Text Mode' %}">
                Simple Text
            </label>
            <input type="radio" class="btn-check" name="textModeToggle" id="richTextMode" value="rich">
            <label class="btn btn-outline-secondary btn-sm" for="richTextMode" title="{% trans 'Rich Text Mode' %}">
                Rich Text
            </label>
        </div>
      </div>
      <div class="mx-3 d-flex">
        {{#> base/form/dropdown id="" class="font-family-select mx-1 form-select form-select-sm" }}
            <!-- Populated by JS -->
    {{/base/form/dropdown}}
        {{#> base/form/dropdown id="" class="font-size-select mx-1 form-select form-select-sm" }}
            {{> base/form/dropdown-option value="1" text="10"}}
            {{> base/form/dropdown-option value="2" text="11"}}
            {{> base/form/dropdown-option value="3" text="12"}}
            {{> base/form/dropdown-option value="4" text="14"}}
            {{> base/form/dropdown-option value="5" text="16"}}
            {{> base/form/dropdown-option value="6" text="18"}}
            {{> base/form/dropdown-option value="7" text="20"}}
            {{> base/form/dropdown-option value="8" text="24"}}
            {{> base/form/dropdown-option value="9" text="28"}}
            {{> base/form/dropdown-option value="10" text="32"}}
            {{> base/form/dropdown-option value="11" text="36"}}
            {{> base/form/dropdown-option value="12" text="40" selected=true}}
            {{> base/form/dropdown-option value="13" text="44"}}
            {{> base/form/dropdown-option value="14" text="48"}}
            {{> base/form/dropdown-option value="15" text="52"}}
            {{> base/form/dropdown-option value="16" text="56"}}
            {{> base/form/dropdown-option value="17" text="60"}}
            {{> base/form/dropdown-option value="18" text="64"}}
            {{> base/form/dropdown-option value="19" text="68"}}
            {{> base/form/dropdown-option value="20" text="72"}}
            {{> base/form/dropdown-option value="21" text="80"}}
            {{> base/form/dropdown-option value="22" text="88"}}
            {{> base/form/dropdown-option value="23" text="96"}}
            {{> base/form/dropdown-option value="24" text="104"}}
            {{> base/form/dropdown-option value="25" text="112"}}
            {{> base/form/dropdown-option value="26" text="120"}}
            {{> base/form/dropdown-option value="27" text="128"}}
    {{/base/form/dropdown}}
        {{#> base/form/dropdown id="" class="line-height-select mx-1 form-select form-select-sm" title="{% trans 'Line Height' %}" }}
            {{> base/form/dropdown-option value="1" text="1"}}
            {{> base/form/dropdown-option value="1.2" text="1.2" selected=true}}
            {{> base/form/dropdown-option value="1.5" text="1.5"}}
            {{> base/form/dropdown-option value="2" text="2"}}
    {{/base/form/dropdown}}
        {{#> base/form/dropdown id="" class="letter-spacing-select mx-1 form-select form-select-sm" title="{% trans 'Letter Spacing' %}" }}
            {{> base/form/dropdown-option value="-0.1" text="-0.1em"}}
            {{> base/form/dropdown-option value="-0.05" text="-0.05em"}}
            {{> base/form/dropdown-option value="-0.02" text="-0.02em"}}
            {{> base/form/dropdown-option value="normal" text="Normal" selected=true}}
            {{> base/form/dropdown-option value="0.02" text="0.02em"}}
            {{> base/form/dropdown-option value="0.05" text="0.05em"}}
            {{> base/form/dropdown-option value="0.1" text="0.1em"}}
            {{> base/form/dropdown-option value="0.15" text="0.15em"}}
            {{> base/form/dropdown-option value="0.2" text="0.2em"}}
            {{> base/form/dropdown-option value="0.25" text="0.25em"}}
    {{/base/form/dropdown}}
    </div>
    <div class="mx-4">
        <!-- Text Color Picker -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="textColorBtn" class="text-color-picker" icon="format_color_text" tooltip="{% trans 'Change Text Color' %}"}}
    </div>
    <div class="mx-3">
        <!-- Bold format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="boldBtn" icon="format_bold" tooltip="{% trans 'Make Text Bold' %}"}}
        <!-- Italic format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="italicBtn" icon="format_italic" tooltip="{% trans 'Make Text Italic' %}"}}
        <!-- Underline format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="underlineBtn" icon="format_underlined" tooltip="{% trans 'Underline Text' %}"}}
    </div>
    <div class="mx-3">
        <!-- Text align left -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextLeftBtn" icon="format_align_left" tooltip="{% trans 'Align Text Left' %}"}}
        <!-- Text align center -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextCenterBtn" icon="format_align_center" tooltip="{% trans 'Align Text Center' %}"}}
        <!-- Text align right -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextRightBtn" icon="format_align_right" tooltip="{% trans 'Align Text Right' %}"}}
    </div>
    <div class="btn-group mx-3">
        <!-- Text vertical align top -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextTopBtn" icon="vertical_align_top" tooltip="{% trans 'Align Top' %}"}}
        <!-- Text vertical align center -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextMiddleBtn" icon="vertical_align_center" tooltip="{% trans 'Align Middle' %}"}}
        <!-- Text vertical align bottom -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextBottomBtn" icon="vertical_align_bottom" tooltip="{% trans 'Align Bottom' %}"}}
    </div>
{{/base/content-engine/element-type-toolbars/containers/element-type-toolbars-container}}
