{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/modal/modal id="registrationUrlModal" }}
    {{#*inline "header"}}
        {{> base/modal/modal-title title="Screen Registration URL"}}
        {{> base/modal/modal-header-close}}
    {{/inline}}

    {{#*inline "body"}}
        <p>{% trans "Open this URL on the Display you want to register:" %}</p>
        <div class="mb-3">
            <label for="registrationAspectRatio" class="form-label">{% trans "Aspect ratio (optional)" %}</label>
            <select id="registrationAspectRatio" class="form-select">
                <option value="">{% trans "Default (16:9)" %}</option>
                <option value="16:9">16:9</option>
                <option value="9:16">9:16</option>
                <option value="4:3">4:3</option>
            </select>
        </div>
        {{> base/form/copyable-input
            inputId="registrationUrlInput"
            buttonId="copy-registration-url-btn"
            notificationId="registrationCopyNotification"
            inputClass="form-bold-input"
            buttonClass="btn btn-secondary"
            icon="content_copy"
            notificationText="Copied!"}}
    {{/inline}}

    {{#*inline "footer"}}
        {{> base/modal/modal-footer-close btn-text="Close"}}
    {{/inline}}
{{/base/modal/modal}}
