/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */

/* SPDX-License-Identifier: AGPL-3.0-only */
#sidebar {
  flex: 0 0 18rem;
  height: 100%;
  background-color: $secondary-accent;
  border-right: 1px solid $dark-gray;
}

#sidebar.collapsed {
    flex: 0 0 30px !important;
}

#sidebar.collapsed #collapse-left-sidebar-btn {
  left: 8px;
}

#collapse-left-sidebar-btn {
  cursor: pointer;
  position: absolute;
  left: 16.5rem;
  background: $darkest-gray;
  color: $white;
  top: 50vh;
  z-index: 99;
  opacity: 0.8;
}

